<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Orbit Future Academy</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/AZ1.png') }} alt="Alphazero Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; ALPHAZERO 4</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="jumbotron jumbotron-fluid" style="background-image: url(https://www.kibrispdr.org/data/24/bunga-bunga-iris-5.jpg); background-size:cover">
		<div class="container">
			<h1 class="display-4" style="color:white; font-size:25px; font-family: 'a Astro Space', sans-serif"><br><br>PENGUKURAN IRIS</h1>
			<p style="color:white;font-size:16px">Aplikasi ini dibuat untuk menentukan spesies dari bunga iris <br> berdasarkan pengukuran panjang serta lebar 
				dari <i>sepal</i> dan <i>petal</i> bunga.<br><br><br>
				<a class="btn btn-primary btn-lg" href="#">START</a>
			</p>
			</img>
		</div>
	</div>

	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!-- Input Nilai Pengukuran dari Pengguna -->
				<h3 style="margin-left: 50px; color:purple; font-family: 'a Astro Space', sans-serif">Nilai Pengukuran </h3>
				<form>
					<div class="form-group" style="margin-left: 50px;">
						<!-- Input Slider untuk Nilai Pengukuran Bunga Iris -->
						<label for="range_sepal_length">Sepal Length (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_sepal_length">5.0<!-- Default value --></span>
						<input type="range" min="4.3" max="7.9" step="0.05" value="5.0" class="slider" id="range_sepal_length" 
						onInput="$('#rangeVal_sepal_length').html($(this).val())">
						</br>
						<label for="range_sepal_width">Sepal Width (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_sepal_width">3.0<!-- Default value --></span>
						<input type="range" min="2.0" max="4.4" step="0.05" value="3.0" class="slider" id="range_sepal_width" 
						onInput="$('#rangeVal_sepal_width').html($(this).val())">
						</br>
						<label for="range_petal_length">Petal Length (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_petal_length">3.0<!-- Default value --></span>
						<input type="range" min="1.0" max="6.9" step="0.05" value="3.5" class="slider" id="range_petal_length" 
						onInput="$('#rangeVal_petal_length').html($(this).val())">
						</br>
						<label for="range_petal_width">Petal Width (cm) </label>&nbsp;&rarr;&nbsp;
						<span id="rangeVal_petal_width">3.0<!-- Default value --></span>
						<input type="range" min="0.1" max="2.5" step="0.05" value="1.0" class="slider" id="range_petal_width" 
						onInput="$('#rangeVal_petal_width').html($(this).val())">
						</br>
						<!-- Tombol Prediksi -->
						<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg">Prediksi</button>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<br>
				<!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
						<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- Prediksi CSV -->

	<h2 style="margin-left: 50px; color: purple; font-family: 'a Astro Space', sans-serif">Prediksi CSV</h2>
	<hr>
	<div class="prediksicsv" style="margin-left: 50px;">
	{% if error %}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>{{ error }}</strong>
	</div>
	{% endif %}
	<form action="{{url_for('deteksicsv')}}" method="POST" enctype="multipart/form-data">
	<input type="file" id="myFile" name="uploaded-file" accept=".csv">
	<button type="submit" class="btn btn-default btn-lg" style="margin-top: 10px;">Prediksi</button>
	</form>

	
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2 style="color: purple; font-family: 'a Astro Space', sans-serif" >ANGGOTA KELOMPOK</h2>
		<h4>Alphazero-4</h4>
		<br>
		<div class="row slideanim">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Nydia Erlinda</h4>
				<p>Universitas Bakrie</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Fathurahman</h4>
				<p>Universitas Gunadarma</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Abdullah Muadz Muflih</h4>
				<p>Universitas Negeri Jakarta</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Vivi Fitriyani</h4>
				<p>Universitas Negeri Jakarta</p>
			</div>
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>Redja Djata Saputra</h4>
				<p>Universitas Esa Unggul</p>
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>
</body>


</html>
